.message_item {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}


.message_item_self {
    display: flex;
    flex-direction: column-reverse;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: right;
}

.content {
    font-weight: 600;
    font-size: 18px;
}

.user-name {
    font-size: 12px;
    color: #888;
}